.nom {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px ;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(180deg, rgb(0, 102, 255),rgb(4, 0, 255));
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}


/*Código Ransel*/

h1{
    text-align: center;
}
h2{
    text-align: center;
}
.card-img-top{
    height: 150px!important;
    width: 152px!important;
    align-self: center;
    margin-top: 3px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
h3{
    text-align: center;
}
#informaciones{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-color:gainsboro!important;
    border: 3px;
    border-style:solid;
}
#titulo{
    color:#065cba;
}
#lista{
    margin-left: 20px;
}
.row{
    padding: 10px;
}

